In [ ]:
# 核心 --一维数组：Series，二维数组：Dataframe
# pandas：有序和无序的排列方式
# pandas和excel之间互换
# tab--函数提示；shift+tab--值提示

In [11]:
# Series： 按着标签来记录数据&可以保存任何的数据类型&轴标签为索引
# Series=llist+dict-即通过list or dictionary
import pandas as pd
# list 记录所有股票的持仓数量
trade_volume =[1100, 500, 400, 2000]
stock = [1,2,3,4]
trade_volume_series=pd.Series(data=trade_volume, index=stock)
trade_volume_series

1    1100
2     500
3     400
4    2000
dtype: int64

In [42]:
holding_position = {'Oour':1100,'平安':500,'万科':400,'通用':2000}
holding_position_series = pd.Series(holding_position)
holding_position_series
# 根据位置提取index或者数值
holding_position_series[0]
holding_position_series.index[0]

# 根据index提取数值
holding_position_series['平安']
holding_position_series[['平安','万科']]

# 根据切片提取数据
holding_position_series[0:2]
# [0:2] 包括0,1
holding_position_series['Oour':'万科']
# 包括Oour， 平安， 万科

Oour    1100
平安       500
万科       400
dtype: int64

In [87]:
# 根据布尔值做切片
income_series = pd.Series([100,1000,1000,None], index=['净利润','利息','成本','固定资产'])
income_series
# 布尔值剔除none
income_series[income_series.notnull()]

# 布尔值表示大于5000
income_series[income_series>100]
income_series[income_series<=500]
income_series.notnull()

净利润      True
利息       True
成本       True
固定资产    False
dtype: bool

In [52]:
income_series=pd.Series([100,200,300,10000],index=['life','value','happy','wealth'])
# 提取头部数据
income_series.head()

# t提取尾部函数
income_series.tail()

# 重新定义索引
income_series_new=income_series.reindex(['life','fame','happy'])
income_series_new

life     100.0
fame       NaN
happy    300.0
dtype: float64

In [57]:
income_series=pd.Series([200,300,1000], index=['fame','effort','receiption'])
a = income_series.drop(['fame','effort'])
a

receiption    1000
dtype: int64

In [76]:
# dataframe
A_balance_sheet = pd.Series([400,300,500],index=['管理费用','财务费用','营业费用'])
B_balance_sheet = pd.Series([500,700,400], index=['总资产','总负债','所有者权益'])
sheet={'公司A':A_balance_sheet, '公司B': B_balance_sheet}
sheet_series = pd.DataFrame(sheet)
sheet_series

# 顺序提取数据
sheet_series.iloc[0,1] # 行的数据是0， 列的数据是1, 行列的开始都是0
sheet_series.iloc[0:1,:]

# 按标签或者索引提取数据
sheet_series.loc['总资产',:]

公司A      NaN
公司B    500.0
Name: 总资产, dtype: float64

In [79]:
# 行列之间的对换
sheet_series1 = sheet_series.T
sheet_series1

       总负债    总资产  所有者权益   管理费用   营业费用   财务费用
公司A    NaN    NaN    NaN  400.0  500.0  300.0
公司B  700.0  500.0  400.0    NaN    NaN    NaN

In [84]:
# 增加一行/一列
a=[10,20]
sheet_series1.loc[:,'公允价值变动'] = a
sheet_series1
b = [300,None, None, 400,500,700,800]

# 修改数据
sheet_series1.iloc[0,0] = 400
sheet_series1

# 删除数据
sheet_series1.drop(index = ['公司A'], columns= ['营业费用'])
# 删除整个公司A和营业费用

       总负债    总资产  所有者权益  管理费用  财务费用  公允价值变动
公司B  700.0  500.0  400.0   NaN   NaN      20

In [86]:
sheet_series1.sort_values(by = ['总负债'],ascending = False)

       总负债    总资产  所有者权益   管理费用   营业费用   财务费用  公允价值变动
公司B  700.0  500.0  400.0    NaN    NaN    NaN      20
公司A  400.0    NaN    NaN  400.0  500.0  300.0      10